body {
  background-image: url('../images/Tela-de-login-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P' , cursive;
  height: 100vh;
  margin: 0;
  margin-left: 0;
  margin-right: auto;
  max-width: 90%;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100vw;
}

.container {
  background: linear-gradient(90deg, #42114d 0%, #650c7f 52%, #8d10b3 100%);
  border: 5px solid goldenrod;
  line-height: 30px;
  margin-left: 28.5%;
  margin-top: 8%;
  max-height: 370px;
  padding: 5px;
  width: 700px;
}

span {
  font-size: 18px;
  line-height: 20px;
  margin-top: 5px;
}

.description-category {
  color: #7a5de2;
  font-style: italic;
}

.description-question {
  color: #b6b2ca;
  width: 80%;
}

button {
  background-color: hsl(286, 84%, 38%);
  border-radius: 5px;
  border-style: solid;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Press Start 2P' , cursive;
  font-size: 15px;
  height: auto;
  margin-right: 10px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.correct {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  background-color: red;
  border: 3px solid red;
}
