/* Será validado se a cor da alternativa correta é "rgb(6, 240, 15)" ao acertar a questão
Será validado se a cor das alternativas incorretas é definida como "red" ao acertar a
questão
Será validado se a cor da alternativa correta é "rgb(6, 240, 15)" ao errar a questão
Será validado se a cor das alternativas incorretas é definida como "red" ao errar a
questão
Utilize a propriedade css border com o valor 3px solid rgb(6, 240, 15) para a alternativa
correta
Utilize a propriedade css border com o valor 3px solid red para as alternativas
incorretas. */

/* body {
  background-color: #3c11fc;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 0;
  text-align: center;
} */

body {

  /* background-color: #3c11fc; */
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 0;
  text-align: center;
}

span {
  font-size: 40px;
  line-height: 50px;
}

.description-category {
  color: #7a5de2;
  font-style: italic;
}

.description-question {
  color: #b6b2ca;
  width: 80%;
}

button {
  background-color: rgb(184, 184, 184);
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-radius: 5px;
  border-style: solid;
  border-width: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  height: auto;
  margin-right: 10px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

.correct {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  background-color: red;
  border: 3px solid red;
}
