body {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.profilePicture {
  border: 5px solid #650c7f;
  border-radius: 5px;
  height: 40px;
  margin-left: 10px;
  width: 40px;
}

.username {
  color: white;
  font-size: 15px;
  line-height: 20px;
}

.score {
  color: white;
  font-size: 15px;
  line-height: 50px;
}
